{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "typescript.format.insertSpaceBeforeFunctionParenthesis": true,
  "typescript.format.insertSpaceBeforeFunctionParenthesis": true,
  "space-before-function-paren": "off"
}
